<div class="container relative">
  <div class="pure-g relative">
    <div class="pure-u-1">
      <div class="intro">
        <div class="intro-text">
          <h2>How to Complete This Exercise</h2>
          <p>
            This exercise contains {{data.scenarios.length}} scenario<span ng-if="data.scenarios.length > 1">s</span> for you to explore. <span ng-if="data.scenarios.length > 1">These scenarios should be attempted in numerical order (Scenario 1, Scenario 2, etc.).</span>
          </p>
          <p>
            Each scenario has follow-up questions. After completing these questions, you will be given an answer code to submit in WebCampus. <strong>When you are done, you should have a total of {{data.scenarios.length}} answer code<span ng-if="data.scenarios.length > 1">s</span></strong>&mdash;one for each scenario.
          </p>
        </div>
        <p>
          <a class="pure-button pure-button-primary begin" href="#/overview">Begin Exercise</a>
        </p>
      </div>
    </div>
  </div>
</div>