<p>
	J.R. is a 32 year-old male presenting to the clinic today complaining of a non-productive cough x 2 weeks.  It has become annoying enough that he wants to have someone look him over.  He does not currently smoke, though he did smoke for a few months in college.  He is not exposed to second hand smoke.  He denies fever, chills, or constitutional symptoms.  On review of systems, J.R. presents with a non-productive cough.  He does not have hemoptysis, weight loss, chills, fever or any changes in his overall health.  He is run down and tired, expressing a lot of stress at work and at home.
</p>
<h3>Vital Signs</h3>
<p>
	BP 126/78
	<br>P 78 and regular
	<br>R 16
	<br>T 98.1 degrees F
</p>