<p>
	Chief Complaint: "My back hurts almost every day."
</p>
<p>
	History of Present Illness: M.Z. is a 28 year-old graduate nurse practitioner student who has had intermittent low back pain for the past 2 years.  Her episodes have recently increased in frequency. She was more physically active in the past but denies any recent injury.  Pain seems to worsen with forward bending and with sitting for long time periods. She recently has noticed the pain radiate along the back of her right leg.  She uses OTC Aleve with minimal relief.
</p>
<h3>Vital Signs</h3>
<p>
	BP 116/88
	<br>P 72 and regular
	<br>R 16
	<br>T 99.1 degrees F
	<br>Wt 185
	<br>Ht 5'8"
</p>