<p>
	A.S., a 7 year-old elementary school student, is brought to the primary care clinic by her mother. She has had a fever and a sore throat for 24 hours. She is normally healthy and has never had any surgery. Other children in her classroom have been sick with similar symptoms. There are no smokers in her household. She has no difficulty swallowing. On review of systems, patient presents with clear nasal drainage and a nonproductive cough. She has not vomited or had diarrhea. Her mother states that she has had a decreased appetite but is drinking liquids.
</p>
<h3>Vital Signs</h3>
<p>
	BP 90/60
	<br>P 100 and regular
	<br>R 20
	<br>T 103.5 degrees F
</p>