<div class="container relative">
  <div class="pure-g">
    <div class="pure-u-1">
      <p class="breadcrumb">
        <a href="#/">Home</a> &raquo; <a href="#/overview">Overview</a> &raquo; Scenario
      </p>
      <p>
        Click on the <span class="point"><button></button></span> below to reveal information. Complete the follow-up questions below.
      </p>
    </div>
  </div>
  <div class="pure-g scenario">
    <div class="pure-u-1">
      <img class="scenario-image" ng-src="{{scenario.img}}">
      <div ng-repeat="point in scenario.points">
        <div class="point"  ng-style="position(point.top,point.left)">
          <button ng-click='toggleLightbox($index)' ></button>
        </div>
        <div class='lightbox' ng-show='lightbox === $index'>
          <div class='lightbox-overlay' ng-click='toggleLightbox($index)'></div>
          <div class='lightbox-container'>
            <div class='lightbox-close' ng-click='toggleLightbox($index)'>
              <span class="glyph">&#xf057;</span>
            </div>
            <div class='lightbox-content'>
              <h3>{{ point.label }}</h3>
              <p>{{ point.info }}</p>
              <div ng-if="point.image" class="relative">
                <div ng-if="point.overlays" class="overlay" ng-repeat="overlay in point.overlays" ng-style="position(overlay.top,overlay.left)">
                  <span ng-class="overlay.class">{{overlay.data}}</span>
                </div>
                <img ng-src="{{point.image}}" alt="point.label">
              </div>
              <div ng-if="point.include" ng-include="point.include">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pure-g relative">
    <div class="pure-u-1">
      <div ng-if="scenario.webCampus" class="question-container">
        <h2>WebCampus {{scenario.webCampusType}}</h2>
        <!-- <p>
          After you have reviewed the scenario information, please open the WebCampus <span class="lowercase">{{scenario.webCampusType}}</span> <a ng-href="{{scenario.webCampus}}" target="_blank">here</a>.
        </p> -->
        <p>
          After you have reviewed the scenario information, please go to your WebCampus discussion.
        </p>
      </div>
      <div ng-if="!scenario.webCampus" class="question-container">
        <h2>Scenario Questions</h2>
        <div class="question" ng-repeat="question in scenario.questions" ng-class="{'current':currentIndex === $index}">
          <p>
            <strong>{{$index + 1}}. {{question.question}}</strong>
          </p>
          <p ng-if="question.content">
            {{question.content}}
          </p>
          <div class="overflow-x" ng-if="question.include" ng-include="question.include">
          </div>
          <!-- text input -->
          <ul ng-if="question.inputDragDrop" class="thumbnails">
            <li ng-repeat="choice in question.inputDragDrop" data-drop="true" ng-model='question.choices' jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback($parent.$index)'}" data-jqyoui-options="{revert: 'invalid', hoverClass: 'drag-over'}">
              <div class="thumbnail" data-drag="{{choice.drag}}" ng-model="question.choices" jqyoui-draggable="{index: {{$index}},animate:true}" data-jqyoui-options="{revert: 'invalid'}">
                {{$index + 1}}. {{choice.title}}
              </div>
            </li>
          </ul>
          <form ng-if="showIf(question.type, 'textInput')" class="text-form" name="freeTextForm" ng-submit="allowNext('textInput', $index, 0, null, freeTextForm.$valid)" novalidate>
            {{question.textInput}}
            <textarea name="freeText" ng-model="freeText" required></textarea>
            <p ng-if="question.feedback" ng-show="!preventAdvance(currentIndex, scenario.questions)">
              <span class="correct">{{question.feedback}}</span>
            </p>
            <button class="pure-button pure-button-primary" type="submit" ng-disabled="freeTextForm.$invalid">Submit</button>
            <p>
              <span class="glyph alert">&#xf071;</span> <em>You will not be able to proceed until you have submitted an answer.</em>
            </p>
          </form>
          <!-- radios -->
          <form ng-if="showIf(question.type, 'radios')">
            <div class="choice-set" ng-repeat="choice in question.choices" ng-class="{'correct': assignCorrect('radio', $parent.$index, $index, choice)}">
              <input type="radio" id="{{$parent.$index}}-{{$index}}" name="radios" ng-click="allowNext('radio', $parent.$index, $index, choice)">
              <label for="{{$parent.$index}}-{{$index}}">{{choice}}</label>
            </div>
            <p ng-if="question.feedback" ng-show="!preventAdvance(currentIndex, scenario.questions)">
              <span class="correct">{{question.feedback}}</span>
            </p>
            <p>
              <span class="glyph alert">&#xf071;</span> <em>You will not be able to proceed until you have selected the correct answer.</em>
            </p>
          </form>
          <!-- checkboxes -->
          <form ng-if="showIf(question.type, 'checkboxes')" name="checkboxForm" ng-submit="allowNext('checkbox', $index, 0, null, checkboxForm.$valid)" class="checkbox-form" ng-class="{'veil': !unveil[$index]}" novalidate>
            <div class="choice-set" ng-repeat="choice in question.choices" ng-class="{'correct': assignCorrect('checkbox', $parent.$index, $index, choice)}">
              <input type="checkbox" id="{{$parent.$index}}-{{$index}}" ng-model="switchboard[$parent.$index + '-' + $index]">
              <label for="{{$parent.$index}}-{{$index}}">{{choice}}</label>
            </div>
            <p ng-if="question.feedback" ng-show="!preventAdvance(currentIndex, scenario.questions)">
              <span class="correct">{{question.feedback}}</span>
            </p>
            <button class="pure-button pure-button-primary" type="submit" ng-disabled="unveil[$index]">Submit</button>
            <p>
              <span class="glyph alert">&#xf071;</span> <em>You will not be able to proceed until you have submitted your answer(s).</em>
            </p>
          </form>
          <!-- ordering -->
          <ul ng-if="showIf(question.type, 'ordering')" class="thumbnails">
            <li ng-repeat="choice in question.choices" data-drop="true" ng-model='question.choices' jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback($parent.$index)'}" data-jqyoui-options="{revert: 'invalid', hoverClass: 'drag-over'}">
              <div class="thumbnail" data-drag="{{choice.drag}}" ng-model="question.choices" jqyoui-draggable="{index: {{$index}},animate:true}" data-jqyoui-options="{revert: 'invalid'}">
                {{$index + 1}}. {{choice.title}}
              </div>
            </li>
            <p ng-if="question.feedback" ng-show="!preventAdvance(currentIndex, scenario.questions)">
              <span class="correct">{{question.feedback}}</span>
            </p>
            <p>
              <span class="glyph alert">&#xf071;</span> <em>You will not be able to proceed until you have the correct order.</em>
            </p>
          </ul>
          <!-- value assign -->
          <ul ng-if="showIf(question.type, 'valueAssign')" class="value-list">
            <li ng-repeat="choice in question.choices">
              <form class="pure-form">
                <select ng-model="assignModel" ng-options="answer for answer in question.answers" ng-change="assignValue(choice.option, assignModel, $parent.$index, $index)" ng-class="{'correct':assignClass($parent.$index, $index)}" ng-disabled="assignClass($parent.$index, $index)">
                   <option value="">- make selection -</option>
                </select> - {{ choice.title }}
              </form>
            </li>
            <p>
              <span class="glyph alert">&#xf071;</span> <em>You will not be able to proceed until you have selected all of the correct answers.</em>
            </p>
          </ul>
        </div>
        <div class="question" ng-class="{'current':currentIndex === scenario.questions.length}">
          <p>
            You have completed this scenario.
          </p>
          <p>
            <span class="glyph alert">&#xf071;</span> Please input the following code in Webcampus to receive credit: <strong>{{scenario.answerCode}}</strong>
          </p>
          <p>
            <span class="glyph alert">&#xf071;</span> Return to the overview and complete any unfinished scenarios!
          </p>
          <p>
            <a class="pure-button pure-button-primary" href="#/overview"><span>Return to Overview</span></a>
          </p>
        </div>
        <button class="pure-button pure-button-primary" ng-click="changeIndex('prev')" ng-disabled="currentIndex === 0">Previous</button>
        <button class="pure-button pure-button-primary" ng-click="changeIndex('next')" ng-disabled="preventAdvance(currentIndex, scenario.questions)">Next</button>
      </div>
    </div>
  </div>
</div>